GAINLAB_ENV=production
GAINLAB_HOST=127.0.0.1
GAINLAB_PORT=8800

# sqlite | mysql
GAINLAB_DATABASE_TYPE=mysql

# Used only when GAINLAB_DATABASE_TYPE=sqlite
GAINLAB_DATABASE_PATH=runtime/gainlab_ai.db

# Used only when GAINLAB_DATABASE_TYPE=mysql
GAINLAB_MYSQL_HOST=127.0.0.1
GAINLAB_MYSQL_PORT=3306
GAINLAB_MYSQL_DATABASE=gainlab_ai_trading
GAINLAB_MYSQL_USER=gainlab_ai_trading
GAINLAB_MYSQL_PASSWORD=change-me
